.primary{
    -fx-background-color: #4F93CB;
}
.success{
    -fx-background-color:#48c490;
}
.link{
    -fx-background-color: #4b5cc4;
}
.danger{
    -fx-background-color: #f14668;
}
.warning{
    -fx-background-color:  #FFF170;
}
.white{
    -fx-background-color: #f1f1f1;

}
.text-white{
    -fx-text-fill: #f1f1f1;
}
.info{
    -fx-background-color:  #00d1b2;
}
.dark{
    -fx-background-color:#393938;
}
.h1{
    -fx-font-size: 18;
}
.h2{
    -fx-font-size: 16;
}
.h3{
    -fx-font-size: 14;
}
.text-field{
    -fx-background-color: #e4e5df;
    -fx-text-fill: black;
}
